.section-intro {
  padding-top: 65px;
  min-height: 800px;

  .mouse-parallax {
    position: relative;
    height: 100%;
  }

  .mouse-parallax__bg,
  .mouse-parallax__bg-2 {
    position: absolute;
    width: 130%;
    height: 130%;
    pointer-events: none;
    z-index: -1;

    .mouse-parallax__img {
      position: absolute;
      width: auto;
    }
  }
  .mouse-parallax__content{

    padding-top: 100px;
    padding-bottom: 117px;
  }
  .block-img {
    position: relative;
    width: 85%;
    margin: auto;
    text-align: center;
  }
  .main__title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  @include respond-to($xl) {

  }
}


@keyframes scale-up-center {
  0% {
    transform: scale(0.5) rotate(0);
    opacity: 0;
   }
  100% {
    transform: scale(1) rotate(-35deg);
    opacity: 1;
  }
}

.scale-up-center {
  animation: scale-up-center 3.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes rotate-bg {
   0% {
     transform:  rotate(0);
     opacity: 0;
   }
   40% {
     opacity: .5;
   }
   100% {
     transform:  rotate(7deg);
     opacity: 1;
   }
 }

.rotate-bg {
  animation: rotate-bg  3.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

@keyframes rotate-bg_blur {
  0% {
    transform:  rotate(7deg);
    opacity: 0;
  }
  60% {
    opacity: .5;
  }
  100% {
    transform:  rotate(-4deg);
    opacity: 1;
  }
}

.rotate-bg_blur {
  animation: rotate-bg_blur  3.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

@keyframes show-title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.show-title {
  animation: show-title  3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.2s both;
}