.section-franchise {
  padding-top: 9.25%;
  padding-bottom: 9%;
  text-align: center;

  .title {
    margin-bottom: 15px;
  }

  .sub-title {
    margin-bottom: 42px;
  }

  @include respond-to($sm) {
    padding: 55px 0 65px;
  }
  @include respond-to($xxs) {
    padding-bottom: 50px;
    .title {
      margin-bottom: 10px;
    }
    .sub-title {
      margin-bottom: 24px;
    }
  }
}