.section-intro {
  padding-top: 6.25%;
  overflow: hidden;
  padding-bottom: 7%;
  //min-height: 883px;
  min-height: 100vh;

  .mouse-parallax {
    position: relative;
    height: 100%;
  }

  .mouse-parallax__bg,
  .mouse-parallax__bg-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
  }

  .mouse-parallax__img {
    position: absolute;
    width: auto;
    height: 630px;

    &:nth-child(2) {
      right: 0;
    }

  }

  .wrap-parallax-bg {
    position: relative;
     }


  .mouse-parallax__bg {
    .mouse-parallax__img {
      height: 690px;
    }
  }

  .mouse-parallax__content {
    padding-top: 50px;
    padding-bottom: 57px;
    //min-height: 800px;
    //display: flex;
    //justify-content: center;
    //align-items: center;
  }

  .block-img {
    position: relative;
    width: 85%;
    margin: auto;
    text-align: center;
  }

  .main__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    max-width: 660px;
  }

  @include respond-to($xl) {

  }
}


@keyframes scale-up-center {
  0% {
    transform: scale(0.5) rotate(0);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(-35deg);
    opacity: 1;
  }
}

.scale-up-center {
  animation: scale-up-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes rotate-bg {
  0% {
    transform: rotate(-7deg);
    opacity: 0;
  }
  30% {
    opacity: .5;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

.rotate-bg {
  animation: rotate-bg 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) .7s both;
}

@keyframes rotate-bg_blur {
  0% {
    transform: rotate(7deg);
    opacity: 0;
  }
  65% {
    opacity: .5;
  }
  100% {
    transform: rotate(-4deg);
    opacity: 1;
  }
}

.rotate-bg_blur {
  animation: rotate-bg_blur 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) .5s both;
}

@keyframes show-title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.show-title {
  animation: show-title 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
}

@keyframes rotate-back {
  0% {
    transform: rotate(36deg) scale(1);
  }
  25%{
    transform: rotate(72deg) scale(.9);
  }
50%{
  transform: rotate(108deg) scale(.8) ;
}
  75%{
    transform: rotate(142deg) scale(.9);
  }
  100% {
    transform: rotate(180deg) scale(1);
  }
}

@keyframes rotate-back_blur {
  0% {
    transform: rotate(-36deg) scale(1);

  }
  25%{
    transform: rotate(-72deg) scale(.9);
  }
  50%{
    transform: rotate(-108deg) scale(.8);
  }
  75%{
    transform: rotate(-142deg) scale(.9);
  }
  100% {
    transform: rotate(-180deg) scale(1);
  }
}

.rotate-back_blur{
  animation: rotate-back_blur .15s linear both;
}
.rotate-back {
  animation: rotate-back .15s linear both;
}