.btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: .35s;
  border: 2px solid;

  &_main {
    background-color: #1D3557;
    border-radius: 8px;
    border-color: #1D3557;
    color: $white;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.2px;
    padding: .85em;
    min-width: 160px;
    //
    //&:hover,
    //&:focus {
    //  color: $red;
    //}
  }

  &_border {
    background-color: transparent;
    border-color: #FFFFFF;

    &:hover,
    &:focus {
      color: #1D3557;
      border-color: #1D3557;
    }
  }

  &_primary {
    background-color: #fff;
    border-color: $white;
    color: #1D3557;

    &:hover,
    &:focus {
      background-color: #2C5691;
      color: $white;
      border-color: #2C5691;
    }
  }

  &_phone {
    width: 52px;
    height: 52px;
    border: 1px solid #14213D;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px rgba(29, 53, 87, 0.25);

    &:hover {
      background: #2C5690;

      .phone {
        fill: #ffffff;

        path {
          stroke: #2C5690;
        }
      }
    }
  }
}

.btn-close {
  position: absolute;
  border: none;
  background-color: transparent;
  background-image: url(../assets/img/svg/close.svg);
  width: 40px;
  height: 40px;
  padding: 6px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;

  &_round {
    border: 2px solid #14213D;
    border-radius: 50%;
  }
}

//@include respond-to($xl) {
//  .btn_main{
//    font-size: 18px;
//  }
//  .btn_play {
//    font-size: 7px;
//  }
//}
//
//@include respond-to($lg) {
//  .btn_main{
//    font-size: 26px;
//  }
//}
//
//@include respond-to($md) {
//  .btn_play {
//    font-size: 4px;
//  }
//}
//
//@include respond-to($sm) {
//  .btn_small {
//    font-size: 14px;
//  }
//  .btn_play {
//    font-size: 1.65px;
//  }
//}
//
//@include respond-to($xs){
//  .btn_main{
//    padding: 26px 22px;
//    width: 100%;
//  }
//}