.modal {
  max-width: 676px;
  width: 100%;
  min-height: 537px;
  background-color: $white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 20px 50px;
  max-height: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity .5s linear;
  overflow: hidden;

  &.modal_active {
    overflow: visible;
    overflow-y: auto;
    opacity: 1;
    z-index: 1100;
  }

  &__heading {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.05em;
    color: #14213D;
    margin-bottom: 3.33em;
    text-align: center;
  }

  &__body {
    max-width: 515px;
    width: 100%;
    margin: 0 auto;
    display: flex;
  }

  .form {
    flex-grow: 1;
  }

  .btn-close {
    top: 38px;
    left: 58px;
  }

  .form__footer {
    padding-top: 64px;
  }

  .thank-you {
    display: none;

    color: #14213D;
    font-size: 16px;
    line-height: 1.89;
    justify-content: center;
    align-items: center;
    min-height: 210px;
    width: 100%;

    &__text {
      text-align: center;
    }
  }

  @include respond-to($xs) {
    padding: 30px 20px 85px;
  }
}

.modal_franchise {
  max-width: 1096px;
  width: 100%;
  padding: 24px 53px 60px 70px;

  .btn-close {
    right: 58px;
    left: auto;
    z-index: 1;
  }

  .modal__heading {
    font-size: 32px;
    margin-bottom: 38px;
    line-height: 2;
  }

  .border-decor {
    position: relative;
    padding-bottom: 23px;

    &:after {
      position: absolute;
      content: '';
      display: block;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-image: linear-gradient(to right, rgba(20, 33, 61, 0), rgba(20, 33, 61, 1), rgba(20, 33, 61, 0));
      width: 150px;
      height: 1px;
      z-index: 2;
    }
  }

  .modal__body {
    display: flex;
    flex-wrap: wrap;
    max-width: initial;
    background-color: #fff;
  }

  .card-franchise {
    position: relative;
    max-width: 192px;
    width: 20%;
    flex-shrink: 0;
    padding: 0 26px 32px;
    text-align: center;

    &:before {
      position: absolute;
      content: '';
      background-image: url(../assets/img/svg/arrow.svg);
      width: 56px;
      height: 12px;
      right: -30px;
      top: 59px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
    }

    &__icon-bg {
      width: 120px;
      height: 120px;
      margin: 0 auto 20px;
      border-radius: 50%;
      background-color: #14213D;
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center center;
      padding: 5px;
    }

    &:nth-of-type(n+6) {
      &:before {
        transform: rotate(180deg);
        right: -26px;
      }
    }

    &:nth-of-type(5) {
      &:before {
        right: -26px;
        top: 61px;
        background-image: none;
        height: 100%;
        width: 45px;
        border: 3px solid #14213D;
        border-left: none;
        border-bottom: none;
      }
    }
  }

  @include respond-to($lg) {
    max-width: 900px;

    .card-franchise {
      width: 20%;
      padding-left: 10px;
      padding-right: 10px;

      &:before {
        width: 40px;
        top: 40px;
        right: -20px;
      }

      &__icon-bg {
        width: 85px;
        height: 85px;
        background-size: 62px 54px;
      }
    }
    .card-franchise:nth-of-type(n+6) {
      &:before {
        right: -18px;
      }
    }
    .card-franchise:nth-of-type(5):before {
      top: 42px;
      right: -18px;
      width: 40px;
    }
  }

  @include respond-to($md) {
    max-width: 750px;
    .card-franchise {
      &__icon-bg {
        width: 68px;
        height: 68px;
        background-size: 54px 48px;
      }

      &__title {
        font-size: 14px;
      }
    }
    .card-franchise:before {
      width: 44px;
      top: 30px;
      right: -23px;
    }
    .card-franchise:nth-of-type(n+6) {
      &:before {
        right: -21px;
      }
    }
    .card-franchise:nth-of-type(5):before {
      top: 34px;
      right: -21px;
    }
  }
  @include respond-to($sm) {
    max-width: 580px;
    min-height: 500px;
    padding: 24px 40px 40px 40px;
    .modal__heading {
      font-size: 24px;
    }
    .card-franchise {
      &__icon-bg {
        width: 50px;
        height: 50px;
        background-size: 36px 48px;
      }

      &__title {
        font-size: 12px;
      }
    }
    .card-franchise:before {
      top: 21px;
    }

    .card-franchise:nth-of-type(5):before {
      top: 24px;
      right: -21px;
    }
  }
  @include respond-to($xs) {
    max-width: 360px;
    .modal__body {
      justify-content: center;
    }
    .card-franchise {
      max-width: 130px;
      width: 50%;
      padding: 0 21px 30px;

      &:after {
        position: absolute;
        content: '';
        left: -22px;
        top: 27px;
      }

      &:before {
        top: 27px;
      }

      &__title {
        font-size: 14px;
      }
    }
    .card-franchise__icon-bg {
      width: 68px;
      height: 68px;
      background-size: 47px;
      margin-bottom: 10px;
    }
    .btn-close {
      position: static;
    }
    .border-decor {
      padding-bottom: 14px;
    }


    .card-franchise:nth-of-type(2),
    .card-franchise:nth-of-type(6) {
      &:before {
        right: -22px;
        top: 31px;
        background-image: none;
        height: 100%;
        width: 40px;
        border: 3px solid #14213D;
        border-left: none;
        border-bottom: none;
      }
    }
    .card-franchise:nth-of-type(5),
    .card-franchise:nth-of-type(9) {
      &:after {
        background-image: url(../assets/img/svg/arrow.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        height: 12px;
        width: 44px;
        top: 31px;
      }
    }
    .card-franchise:nth-of-type(9) {
      &:before{
        transform: rotate(0);
      }
    }
    .card-franchise:nth-of-type(3),
    .card-franchise:nth-of-type(7) {
      &:after {
        height: 100%;
        width: 40px;
        border: 3px solid #14213D;
        border-right: none;
        border-bottom: none;
        top: 31px;
      }
    }
    .card-franchise:nth-of-type(6) {
      &:before {
        transform: rotate(0);
      }
    }
    .card-franchise:nth-of-type(3),
    .card-franchise:nth-of-type(4) {
      &:before {
        transform: rotate(180deg);
        right: -20px;
        top: 27px;
      }
    }
    .card-franchise:nth-of-type(5) {
      &:before {
        background-image: url(../assets/img/svg/arrow.svg);
        height: 26px;
        width: 44px;
        border: none;
      }
    }
    .card-franchise:nth-of-type(10) {
      &:before {
        display: none;
      }
    }
  }
}