.modal {
  max-width: 676px;
  width: 100%;
  min-height: 537px;
  background-color: $white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 20px 50px;
  max-height: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity .5s linear;
  overflow: hidden;

  &.modal_active {
    overflow: visible;
    overflow-y: auto;
    opacity: 1;
    z-index: 1100;
  }

  &__heading {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.05em;
    color: #14213D;
    margin-bottom: 3.33em;
    text-align: center;
  }

  &__body {
    max-width: 515px;
    width: 100%;
    margin: 0 auto;
    display: flex;
  }

  .form {
    flex-grow: 1;
  }

  .btn-close {
    top: 38px;
    left: 58px;
  }

  .form__footer {
    padding-top: 64px;
  }

  .thank-you {
    display: none;

    color: #14213D;
    font-size: 16px;
    line-height: 1.89;
    //display: flex;
    justify-content: center;
    align-items: center;
    min-height: 210px;
    width: 100%;

    &__text {
      text-align: center;
    }
  }

}

.modal_franchise {
  max-width: 1096px;
  width: 100%;
  padding: 24px 53px 60px 70px;

  .btn-close {
    right: 58px;
    left: auto;
    z-index: 1;
  }

  .modal__heading {
    font-size: 32px;
    margin-bottom: 36px;
    line-height: 2;
  }

  .border-decor {
    position: relative;
    padding-bottom: 23px;

    &:after {
      position: absolute;
      content: '';
      display: block;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-image: linear-gradient(to right, rgba(20, 33, 61, 0), rgba(20, 33, 61, 1), rgba(20, 33, 61, 0));
      width: 150px;
      height: 1px;
      z-index: 2;
    }
  }

  .modal__body {
    display: flex;
    flex-wrap: wrap;
    max-width: initial;
    background-color: #fff;
  }

  .card-franchise {
    position: relative;
    max-width: 192px;
    width: 20%;
    padding: 0 26px;
    text-align: center;
    margin-bottom: 32px;

    &:before {
      position: absolute;
      content: '';
      background-image: url(../assets/img/svg/arrow.svg);
      width: 56px;
      height: 12px;
      right: -30px;
      top: 60px;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: 100%;
      background-size: 100%;
    }

    &__icon-bg {
      width: 120px;
      height: 120px;
      margin: 0 auto 20px;
      border-radius: 50%;
      background-color: #14213D;
      background-repeat: no-repeat;
      -webkit-background-size: auto;
      background-size: auto;
      background-position: center center;
      padding: 5px;
    }

    &:nth-of-type(n+6) {
      &:before {
        transform: rotate(180deg);
        right: -26px;
      }
    }
    &:last-child {
      &:before {
        //display: none;
      }
    }
    &:nth-of-type(5) {
      &:before {
        background-image:  url(../assets/img/svg/arrow2.svg);
        height: 237px;
        width: 45px;
      }
    }
  }

  @include respond-to($lg) {
    max-width: 900px;

    .card-franchise {
      width: 20%;
      padding: 0 10px;

      &:before {
        width: 40px;
        top: 30px;
        right: -20px;
      }

      &__icon-bg {
        width: 85px;
        height: 85px;
        -webkit-background-size: 62px 54px;
        background-size: 62px 54px;

      }
    }
  }
}