.menu {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 13%;

  &__item {
    margin: 0 30px;
  }

  &__link {
    display: inline-block;
    transition: text-shadow .25s;
    &:hover,
    &:focus {
      text-shadow: 0 0 .65px #14213D, 0 0 .65px #14213D, 0 0 .65px #14213D;
    }
  }
}