.menu {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 13%;

  &__item {
    margin: 0 30px;
  }

  &__link {
    display: inline-block;
    transition: text-shadow .25s;
    position: relative;
    padding: 10px 0;
    &:after{
      position: absolute;
      content: '';
      height: 3px;
      width: 0;
      left: 50%;
      transform: translateX(-50%) scale(0);
      display: block;
      background-color: #14213D;
      bottom: -85%;
      z-index: 2;
      transition: .25s;

    }
    &:hover,
    &:focus {
      text-shadow: 0 0 .65px #14213D, 0 0 .65px #14213D, 0 0 .65px #14213D;
      &:after{
        transform: translateX(-50%) scale(1);
        width: 50px;
      }
    }
  }
}