.menu {
  display: flex;
  //color: $dark;

  &__item {

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    display: inline-block;
    transition: .35s;

    &:hover,
    &:focus {
      //text-decoration: underline;
    }
  }

  @include respond-to($lg) {
   header .menu__item {


      &:first-child {
        margin-left: 0;
      }
    }
  }
  @include respond-to($sm){

   }
}