.wrapper {
  max-width: 1600px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

body {
  font: 400 16px $main-font;
  color: #14213D;

  &.modal-open {
    overflow: hidden;
  }

  @include respond-to($xs) {
    font-size: 14px;
  }
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.color-red {
  color: #A21E1A;
}

.sub-title {
  font-size: 24px;
  font-weight: 700;
  @include respond-to($sm) {
    font-size: 22px;
  }
  @include respond-to($xs) {
    font-size: 20px;
  }
  @include respond-to($xxs) {
    font-size: 14px;
  }
}


.dynamic-content {
  p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 1.25em;
  }

}

.simplebar-track.simplebar-vertical {
  -webkit-box-shadow: inset 0 0 4px rgba(29, 53, 83, .4);
  border-radius: 4px;
  width: 8px;
}

.simplebar-scrollbar.simplebar-visible:before {
  border-radius: 4px;
  background-color: #1D3553;

  left: 0;
  right: 0;
}





