.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

body {
  -webkit-font-smoothing: antialiased;
  font: 400 16px $main-font;
  color: #14213D;
  &.modal-open {
    overflow: hidden;
  }
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.color-red{
  color: #A21E1A;
}

.sub-title{
  font-size: 24px;
  font-weight: 700;
}


.dynamic-content{
  p{
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 1.25em;
  }

}








