.title {
  font-weight: 700;
  font-size: 48px;

  &_big {
    font-size: 72px;
  }

  &_middle {
    font-size: 52px;
  }

  &_small {
    font-size: 24px;
  }

  @include respond-to($md) {

    &_big {
      font-size: 66px;
    }

    &_middle {
      font-size: 48px;
    }
  }
  @include respond-to($xs) {
    font-size: 32px;
    &_big,
    &_middle {
      font-size: 32px;
    }
    &_small {
      font-size: 16px;
    }
  }
}

