.fade-in ,
.scale {
  opacity: 0;
}

.scale.active {
  animation: .5s scale .2s ease-out forwards;
}

.anim_active {
  opacity: 1;
  .scale-up-center {
    animation: scale-up-center 1s linear both;
  }
  .rotate-bg {
    animation: rotate-bg .5s linear .5s both;
  }
  .show-title {
    animation: show-title 0.6s linear 0.5s both;
  }
  .rotate-bg_blur {
    animation: rotate-bg_blur .5s linear .5s both;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scale {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

