.footer {
  padding: 58px 0;
  background-color: #14213D;
  color: $white;
  font-size: 16px;

  &__logo {
    max-width: 80px;
    display: inline-block;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social-list__item {
    display: inline-block;
    margin-left: 24px;

    &:first-child {
      margin-left: 0;
    }
  }

  .social-list__link {
    display: inline-block;
    width: 24px;
    height: 24px;

    svg {
      width: 100%;
      height: auto;
    }
  }

  .contacts__link {
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }

    svg {
      width: 24px;
      height: 24px;
      vertical-align: middle;
      margin-right: 24px;
    }
  }

  @include respond-to($sm) {
    .contacts__link {
      display: block;
      margin-left: 0;
      &:first-child{
        margin-bottom: 14px;
      }
    }
    .footer__logo{
      max-width: 64px;
    }
  }
  @include respond-to($xxs) {
    padding-top: 25px;
    padding-bottom: 32px;
    .container{
      flex-direction: column;
          align-items: center;
    }
    .footer__logo{
      margin-bottom: 35px;
    }
    .contacts{
      margin-bottom: 42px;
    }
  }
}