.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  @include respond-to($xxl) {

  }
  @include respond-to($xl) {

  }
  @include respond-to($lg) {

  }
  @include respond-to($md) {

  }
  @include respond-to($sm) {
  }
  @include respond-to($xs) {

  }
}