.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: $white;
  font-size: 14px;
  line-height: 1.28;
  color: #14213D;
  transition: height .35s ease-in;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  &.header_active {
    backdrop-filter: blur(9px);
    background: linear-gradient(270deg, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, 0.24464) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
    transition: background .35s ease-in;
  }

  &__nav {
    margin-left: auto;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__logo {
    width: 64px;
    height: auto;
    display: block;
  }

  .language-nav{
    &__link{
      display: inline-block;
      margin-left: 10px;
      &:first-child{
        margin-left: 0;
      }
      &.language_active{
        font-weight: 700;
      }
    }
  }

  .btn_phone{
    margin-left: 53px;
  }

  .btn-burger {
    border: none;
    background-color: transparent;
    display: none;
    width: 24px;
    height: 24px;
    padding: 3px;

    .line {
      display: block;
      width: 18px;
      height: 1px;
      margin-bottom: 6px;
      background-color: #000000;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .btn-close {
    position: absolute;
    right: 20px;
    top: 37px;
    border: none;
    background-color: transparent;
    display: none;
    background-image: url(../assets/img/svg/close.svg);
    width: 24px;
    height: 24px;
    padding: 6px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
  }


  @include respond-to($md) {
    .btn-close,
    .btn-burger {
      display: block;
    }
    .header__nav {
      padding: 140px 20px 150px;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      flex-direction: column;
      justify-content: space-between;
      background-color: #fff;
      max-height: 100%;
      overflow-y: auto;
      text-align: center;
      transition: transform .5s;
      transform: translateX(-100%);
      z-index: 999;

      &.open {
        transform: translateX(0);
      }

      .menu {
        flex-direction: column;
        font-size: 18px;

        &__item {
          margin-bottom: 35px;
          margin-left: 0;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

  }
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #14213D;
  opacity: 0.3;
  z-index: 500;
}