.main__title {
  font-family: $main-font;
  font-weight: 700;
  font-size: 64px;
  line-height: .84;
  text-align: center;
  color: $white;
  text-shadow: //#14213D 1px 1px 0,
          //#14213D -1px -1px 0,
          //#14213D -1px 1px 0,
          //#14213D 1px -1px 0,
          1px 2px 4px rgba(0, 0, 0, .5);
  -webkit-text-stroke: 2px #14213D;

  span {
    font-size: 1.52em;
  }

  @include respond-to($xs) {
    font-size: 30px;
    span {
      font-size: 1.42em;
    }
  }
}